body {
  background-image: url('./assets/banff.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.background {
  width: 50vw;
  height: 100vh;
  background: linear-gradient(75deg, rgb(94, 92, 92) 0%, rgb(94, 92, 92) 0%,rgb(94, 92, 92) 0%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  width: 100%;
  max-width: 400px; /* Adjust the max-width as needed */
  padding: 20px;
  background-color: rgba(102, 206, 57, 0.455); /* Optional: Add a slight background color for the form card */
  border-radius: 8px;
  text-align: center; /* Center the text inside the form card */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  color: rgb(246, 246, 246);
  font-family: Avenir;
  font-size: 48px; /* Adjust the size as needed */
  text-align: center;
  margin-bottom: 20px;
}

.form-subtitle {
  font-size: 18px;
  font-family: 'Avenir';
  letter-spacing: 0.5px;
  color: #cfbcbc;
  padding-bottom: 24px;
  text-align: center;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 12px;
}

.auth-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 100%;
}

.auth-label {
  position: absolute;
  top: 8px;
  left: 18px;
  font-size: 11px;
  color: rgb(175, 175, 175);
  font-family: Avenir;
  width: 100px;
}

.auth-input,
.auth-password {
  margin-bottom: 12px;
  padding: 8px;
  background-color: #3e404b;
  color: white;
  font-family: "Avenir";
  border: none;
  border-radius: 4px;
  width: 80%; /* Adjust the width as needed */
}

.auth-button,
.about-button,
.new-user-button {
  padding: 10px;
  background-color: #9d9ea1;
  color: rgb(255, 255, 255);
  font-family: "Avenir";
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 12px;
  width: 80%; /* Adjust the width as needed */
}

.auth-button:hover,
.about-button:hover,
.new-user-button:hover {
  background-color: #28bc5475;
}

.chat-wrapper {
  height: 80vh; 
  width: 80%;
  margin-left: 10%; 
  color: white; 
  background: rgb(43, 47, 60);
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  background-color: #2e2f3a;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}